<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div>
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><strong>PHOTOS</strong></a>
          <ul class="dropdown-menu">
            <li><a href="#/kitchen">Kitchen</a></li>
            <li><a href="#/bath">Bath</a></li>
            <li><a href="#/bedroom">Bedroom</a></li>
            <li><a href="#/living">Living</a></li>
            <li><a href="#/dining">Dining</a></li>
          </ul>
        </li>
        <li><a href="#"><strong>FIND PROS</strong></a></li>
        <li><a href="#"><strong>SHOP</strong></a></li>
        <li><a href="#">BATH</a></li>
        <li><a href="#">BEDROOM</a></li>
        <li><a href="#">LIVING</a></li>
        <li><a href="#">OUTDOOR</a></li>
        <li><a href="#">LIGHTING</a></li>
        <li><a href="#">DECOR</a></li>
        <li><a href="#">STORIES</a></li>
        <li><a href="#">ADVICE</a></li>
      </ul>
    </div>
  </div>
</nav>
